<?php return [
  'client_id' => '',
  'client_secret' => '',
  'dbdsn' => 'sqlite:foo.db',
  'dbuser' => '',
  'dbpass' => '',
  'url' => 'http://localhost:8080/'
];
/*
  'dbdsn' => 'mysql:dbname=XXXX', // you can also use sqlite:foo.db
  'dbuser' => 'XXX',
  'dbpass' => 'XXX',
*/
